<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>LA Rental price heatmap</title>
</head>
<body>
  <div id="panel">
    <div class="quarter_height" style="font-size: 20px;">
      <div id="readout1"></div><div id="readout2"></div><div id="readout3"></div>
      <div onclick="setDisplayMode()"><h3>Showing: <div id="displayMode" onclick="setDisplayMode()"></div></h3></div>
      </div>
    <div class="quarter_height"><div id="scatter_chart_div"></div></div>
    <div class="quarter_height"><div id="bar_chart_div"></div></div>
    <div class="quarter_height"><div id="feature_vector_chart_div"></div></div>

</div>
<div id="map-canvas"></div>
</body>
</html>