<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>LA Rental price heatmap</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdacxIPLBmGeowW3ICo1quEftRP7DbA2k&libraries=visualization"></script>
  
  <script>

  function initialize() {
    var mapCenter = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 10,
      center: mapCenter
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    var markerCoords = [];

    $.getJSON("http://localhost:3000/neighborhoods.json", function(json){
      json.forEach(function( each,count ) {
        markerCoords.push({ lat: parseFloat( each.Latitude ), lng: parseFloat( each.Longitude )});
        //console.log(count);
        var pointArray = new google.maps.MVCArray(markerCoords);
        map.setCenter({ lat: parseFloat( each.Latitude ), lng: parseFloat( each.Longitude )});
        // var marker = new google.maps.Marker({
        //   map: map, 
        //   position: { lat: parseFloat( each.Latitude ), lng: parseFloat( each.Longitude )}
        // });// var marker   
      });// json.forEach
      //console.log(markerCoords);
      var heatmap = new google.maps.visualization.HeatmapLayer({ data: markerCoords });
    });// $.getJSON
    console.log("See if these work!");
    console.log(markerCoords.length);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <!-- <div id="panel">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Geocode" onclick="codeAddress()">
  </div> -->
  <div id="map-canvas"></div>
</body>
</html>