<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>LA Rental price heatmap</title>
</head>
<body>
  <div id="panel">
    <div id="readout"></div>
    <div id="scatter_chart_div" ></div>
  </br>
</br>
    <div id="bar_chart_div"></div>
  </br>
</br>
    <div id="feature_vector_chart_div"></div>
  </div>
  <div id="map-canvas"></div>
</body>
</html>