  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>LA Rental price heatmap</title>
    
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdacxIPLBmGeowW3ICo1quEftRP7DbA2k"></script>
    <script>
    var map, heatmap, myData, maxCrime, minCrime, localCrime, allCrime = [], testData2 = [];

    myData = httpGet("http://localhost:3000/neighborhoods.json");
    myData = JSON.parse(myData);
    //console.log(myData[0]);

    function initialize() {
      var mapCenter = new google.maps.LatLng(-34.397, 150.644);
      var mapOptions = {
        inverse_lightness: true,
        zoom: 12,
        center: mapCenter,
        mapTypeId: google.maps.MapTypeId.TERRAIN
      };

      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
      var markerCoords = [];

      // Load up an array with object literal lat lng and weight values
      myData.forEach(function( each,count ) {
        markerCoords.push({ lat: parseFloat( each.Latitude ),
          lng: parseFloat( each.Longitude ),
          weight: parseFloat( each.AvgRentPrice )});
        map.setCenter (markerCoords[count] );
      });// myData.forEach

    // Create an array of weighted Latlng objects using avg rent as the weight
    for (i = 0; i < myData.length; i++){
      testData2[i] = {
        location: new google.maps.LatLng(myData[i].Latitude, myData[i].Longitude), 
        weight: parseFloat(myData[i].ViolentCrimePer10kCapita)
      };
      // Gather the rents in one place, as long as they are in the data
      testData2[i].weight ? allCrime.push(testData2[i].weight) : null;
    }
    
    // Find the highest and lowest violent crime rates
    maxCrime = Math.max.apply(null, allCrime);
    minCrime = Math.min.apply(null, allCrime);

  // Pull geoJSON for the neighborhood outlines from the variable in zillow.js
  map.data.addGeoJson(myGJ);
  map.data.setStyle({map:null,strokeWeight: 0});
  //map.data.setMap(null);
  // This makes the map responsive to the mouse movement
   map.data.addListener('mouseover', function(event){
      map.data.overrideStyle(event.feature,
        { strokeWeight: 2, strokeColor: 'cyan', zIndex: 0 });
      document.getElementById("panel")
      .textContent = event.feature
      .getProperty("NAME")+', '+event.feature.getProperty("REGIONID")+' Violent crimes per 10k people';
   });
   map.data.addListener('mouseout', function(event) {
      map.data.overrideStyle(event.feature, {strokeWeight: 0, strokeColor: 'black', zIndex: 0});
   }); 

// Set the neighborhood polygon styles appropriately
  map.data.forEach(function(feature) {
    console.log("searching for: ", feature.getProperty('NAME') );
    getCrime(feature.getProperty('NAME'));
    // if we couldn't get any crime data,
    // then this polygon should be removed
    if (localCrime == -1) {
      map.data.remove(feature);
      console.log("removed a feature");
    } else {
        //Reappropriate the REGIONID property for local crime rate
        feature.setProperty('REGIONID', localCrime);
        map.data.overrideStyle( feature,
        { fillColor: 'red', fillOpacity: (localCrime / maxCrime) })
    }
    // utility purposes...
    /*
    feature.forEachProperty(function(value,property){
      console.log(property,': ',value);
    });*/
  });
  //feature.setProperty('')
  }// Initialize

  function httpGet(targetURL){
    var xmlHttp = null;
    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", targetURL, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;
  }

  function getCrime(regionName){
    localCrime = -1;
    myData.forEach(function(neighborhood,count){      
      if (neighborhood.RegionName === regionName){
        console.log("searched: ",count);
        localCrime = parseFloat(neighborhood.ViolentCrimePer10kCapita);
        return localCrime;
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  </head>
  <body>
    <div id="panel">
    </div>
    <div id="map-canvas"></div>
  </body>
  </html>