<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>LA Rental price heatmap</title>
</head>
<body>
  <div id="panel">
    <div id="readout"></div>
    <div id="chart_div" style="width: 16vw; height: 9vw;"></div>
  </div>
  <div id="map-canvas"></div>
</body>
</html>