html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px;      
}

body {
  background-color: black;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

 #panel {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    z-index: 500;
    //background-color: #393B4D;
    background: -webkit-linear-gradient(left, rgba(76,79,102,1) 0%, rgba(57,59,77,1) 100%);
    padding: 0;
    font-size: 12px;
    color: azure;
    box-shadow: -15px 0px 36px -12px rgba(0,0,0,.5);
    text-align: center;
 }

  #readout {
    //position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    background-color: #4D4F66;
    z-index: 1000;
    size: 14px;
  }

 #scatter_chart_div {
   width: 100%;
   margin: 0 auto;
 }

 #bar_chart_div {
  width: 100%;
   margin: 0 auto;
 }

 #bar_chart_div {
  width: 100%;
   margin: 0 auto;
 }

 #feature_vector_chart_div {
  width: 100%;
   margin: 0 auto;
 }

 #shadow_box {
  box-shadow: inset 0px 0px 300px 0px rgba(0,0,0,.25);
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vw;
  width: 100vw;
  z-index: 1000;
  pointer-events: none;
 }

 .quarter_height {
  height: 25%;
 }
