<!DOCTYPE html>
<html>
<head>
  <title>Heatmaps</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <style>
    html, body, #map-canvas {
      height: 100%;
      margin: 0px;
      padding: 0px
    }
    #panel {
      position: absolute;
      right: 0;
      /*margin-left: -180px;*/
      z-index: 999;
      background-color: white;
      padding: 25px;
      border: 1px solid black;
      font-size: 32px;
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
