<!DOCTYPE html>
<html>
<head>
  <title>Heatmaps</title>
  <script src=
    "https://maps.googleapis.com/maps/api/js?key=AIzaSyBdacxIPLBmGeowW3ICo1quEftRP7DbA2k">
  </script>
  <script type=
     "text/javascript" src="https://www.google.com/jsapi">
  </script>

  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
